*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}

html{
    scroll-behavior:smooth;
}
.back-to-top{
    background-color: transparent;
    width:30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom:4%;
    right:1%;
    display: none;
}

.fa-angle-up{
    cursor: pointer;
    font-size:3em;
    color:rgb(238, 0, 0);
}
.background-image{
    height:100vh;
    width:100%;
    background: url("./images/bg.jpg") center center/cover;
}


.logo{
    height:80px;
    width:80px;
    background: url("./images/logo.png") center center/cover;    
}



header{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0.9;
    position: fixed;
    width:100%;
    z-index:999;
}

.burger{
    height: 30px;
    width: 40px;
    cursor: pointer;
    outline: none; 

}
.none{
    display: none;
}

.layer1,.layer2,.layer3{
        height: .25em;
        border-radius: 2px;
        width: 100%;
        margin-top: 4px;
        background-color: black;
        transition: all 0.5s ease-in-out;
}

.cross{
    position: relative;
    outline: none;
}

.cross .layer1, .cross .layer2, .cross .layer3{
    position: absolute;
    top: 28%;
}
 .cross .layer1 {
    transform: rotate(-45deg);
 }
 .cross .layer2,.cross .layer3 {
    transform: rotate(45deg);
 }
nav{
    width:60%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

a:hover{
    color:orangered;
}

.list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.heading-banner{
    position: absolute;
    top:40%;
    left:5%;
    text-align: left;
}

h2{
    font-weight: normal;
}

button,p{
    margin-top:6px;
}
button{
    background-color: rgb(250, 241, 224);
    border-radius: 100px;
    border: none;
    cursor: pointer;
    padding: 1em 2em 1em 2em;
    margin-top: 10px;
}

button:hover{
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
    background-color: white;
}

.section1{
    margin:3em 0em;
    padding: 0 3em;
}

.section1 h2{
    font-size: 2.5em;
    margin-bottom: 1em;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    width:33%;
    margin:1em;
    display: flex;
    flex-direction: column;
} 


.card img{
    height:55%;
    width:100%;
    object-fit: cover;
}

.card  div h2{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0;
}

.card div {
    padding: 1em;
    background-color: #fac769;
}

.card div p{
    font-size: 1em;
    text-align: justify;
    color:white;
}


.section2{
    width:100%;
    background-color: #fac769;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:white;
    padding: 3em 0;
}

h3{
    font-weight: normal;
    margin-bottom: 1em;
}

.section2 h1{
    font-size: 2.5em;
}

.section3{
    width:100%;
    text-align: center;
    margin:5em 0;
    padding: 2em;
}

.section3 h1{
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: bold;
}
.section3 .sec3-cards{
    display: flex;
    justify-content: space-around;
    width:80%;
    margin:0 auto;
}

.sec3-card{
    width:23%;
    text-align: left;
    padding: 1em;
    position: relative;
}

.sec3-card h3{
    margin-bottom: 1em;
    font-weight: bold;
    margin-top:10px;
}
.sec3-card p{
    text-align: left;
    font-size: 1.1em;
    color:rgba(0,0,0,0.75);
}

.sec3-card::before{
    content:"01";
    font-size: 4em;
    position: absolute;
    top:0;
    left:10px;
    color:#fac769;
    z-index: -1;
}
.sec3-card:nth-child(1)::before{content: "01";}
.sec3-card:nth-child(2)::before{content: "02";}
.sec3-card:nth-child(3)::before{content: "03";}
.sec3-card:nth-child(4)::before{content: "04";}


footer{
    width:100%;
    background-color:#fac769 ;
    padding: 2em;
}

.social-icons{
    color:white;
    font-size: 1.5em;
    width:15%;
    margin:0 auto;
}

.fa{
    color:white;
}

.fa:hover{
    transform: scale(1.1);
}

.social-icons ul{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width:1100px){

    .burger{
        display: block;
    }
    nav{
        display: none;

    }
    
    .new-header{
        height:60vh;
        position: fixed;
        z-index:99999;
        flex-direction: column;
        animation: a 1s 1 linear;
    }

    @keyframes a{
        from{transform: translateY(-60vh);
        opacity: 0;}
        to{transform: translateY(0);
        opacity: 1;}
    }
    .new-nav{
        display: block;
        height:60%;
    }
    .new-nav .menubar{
        height:100%;
    }
    .new-nav .menubar .list{
        flex-direction: column;
        height: 100%;
        
    }
}


@media screen and (max-width:970px){
    .section3 .sec3-cards{
        justify-content: space-between;
        width:90%;
    }
    .sec3-card{
        width:30%;
    }
}


@media screen and (max-width:768px){
    .section1 .cards{
        flex-direction: column;
    }

    .card{
        width:90%;
    }
    .card div p{
        font-size: 1.1em;
    }

    .section2{
        flex-direction: column;
        text-align: center;
    }

    .text {
        width:100%;
        padding: 2em 4em;
    }

    .section3{
        text-align: center;
    }
    .section3 h1{
        font-size: 2em;
        font-weight: normal;
    }

    .sec3-cards{
        flex-direction: column;
        align-items: center;
    }

    .sec3-card{
        text-align: center;
        width:80%;
    }

    .sec3-card::before{
        left:50%;
        transform: translateX(-50%);
    }

    .social-icons{
        width:30%;
    }
}

@media screen and (max-width:480px){

    .background-image{
        background-position: 70%;
    }
    .heading-banner h2{
        font-size: 1.1em;

    }

    .heading-banner p{
        color:white;
    }

    button{
        padding: 0.5em 1em 0.5em 1em;
    }
    a{
        font-size: 1em;
    }

    .section1{
        padding: 1em;
    }


    .section3 h1{
        font-size: 1.5em;
    }
    .card{
        width:100%;
    }

    .card div p{
        font-size: 1em;
    }

    .section2 h1{
        font-size: 1.5em;
    }


    .text{
        padding: 0;
    }

    .social-icons{
        width:50%;
    }
    .fa-angle-up{
        font-size: 2em;
    }
}

.fa-angle-up{
    color: black;
}